@font-face {
    font-family: 'GloucesterMTExtraCondensed';
    src: local('Gloucester MT Extra Condensed'), url('GLECB.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: GloucesterMTExtraCondensed, Cambria, Georgia, Times, 'Times New Roman', serif;
  margin-top: 48px;
  letter-spacing: 5px;
}

h1, h2 {
  font-style: italic;
}

body {
    margin: 0;
    background-color: #1d4ba0;
    color: white;
}

a {
    color: #e30922;
}

.main-wrap,
.header-wrap header {
  max-width: 960px;
  margin: 0 auto;
}

.header-wrap {
    background-color: #3d6bc0;
    padding-bottom: 10px;
}

.site-title {
    font-family: GloucesterMTExtraCondensed, Cambria, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-size: 2.8em;
    margin-bottom: 10px;
    letter-spacing: 5px;
}

.site-title img {
    position: relative;
    top: 22px;
}

.site-slogan {
  font-style: italic;
}

.navbar ul {
  text-align: center;
  list-style: none;
}

.navbar ul li {
  display: inline-block;
  margin: 0 0.5em;
}

.navbar a {
  text-decoration: none;
}

.current {
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #fcd720;
}

h1 {
  text-align: center;
  font-size: 3em;
}

footer {
  clear: both;
  text-align: center;
  font-size: 13px;
  color: grey;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.thumb {
  width: 150px;
}

code {
    padding: 2px;
    background-color: #eee;
}

pre {
    background-color: #eee;
    padding: 0.5em;
    border-left: 2px solid #ccc;
}

.comments {
    margin: 20px 0;
    /*background-color: green;*/
}

.entry,
.post {
    padding: 10px 5px;
}

.vote-buttons {
    float: left;
}

.vote-buttons input {
    height: 22px;
    width: 30px;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
}

.entry img {
    float: left;
    padding-top: 5px;
    padding-right: 10px;
}

.stats {
    color: #fcd720;
    font-size: 0.9em;
}

.stats a {
    color: #fcd720;
}

.actions {
    font-size: 0.9em;
    margin-bottom: 1em;
}

.actions a {
    color: #fcd720;
}

.text {
    /*font-family: serif;*/
}

.children {
    margin-left: 40px;
    padding-left: 15px;
    border-left: 3px solid lightgrey;
    /*background-color: red;*/
}

.delConfirm {
    border: 1px solid black;
    margin: 5px 0 20px;
    padding: 5px
}

.delButton {
    background-color: red;
    color: white;
}

label.has-error {
    color: red;
    /* background-color: rgba(255, 0, 0, 0.5); */
}

.form-error {
    display: inline;
}

.delete, .delete a {
    color: red;
}

.voted {
    color: blue;
}

form.reward {
    display: inline-block;
}

.rewarded {
    color: gold;
}

.front-sections {
    display: flex;
}

.front-sections div {
    flex-grow: 1;
}

.front-sections .post .title p {
    margin: 0;
}

.ranking {
    color: #fcd720;
}

table.users table td:first-child {
    padding-right: 10px;
}

.post,
.entry {
    background-color: #3d6bc0;
    margin: 10px;
}

.reward input {
    border: none;
    background-color: initial;
    color: gold;
    font-family: "Helvetica Neue";
    font-size: 1em;
    text-decoration: underline;
    padding-left: 0;
    cursor: pointer;
}

.entry h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.entry h2 p {
    margin: 0;
}

.tags a {
    color: #fcd720;
    background-color: #5d8be0;
    padding: 3px;
    border-radius: 5px;
    margin-left: 10px;
}

.post .title a {
    font-size: 1.1em;
}

.profile-page {
    text-align: center;
}

.profile-page table {
    margin-left: auto;
    margin-right: auto;
}

.profile-table {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.profile-table h2 {
    margin-top: 0;
}
